<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>S_Title</key>
		<string>密码登录</string>
		<key>Title</key>
		<string>密码登录</string>
		<key>ClassName</key>
		<string>LoginPwdViewController</string>
	</dict>
	<dict>
		<key>S_Title</key>
		<string>免密登录</string>
		<key>Title</key>
		<string>免密登录</string>
		<key>ClassName</key>
		<string>LoginNoPwdViewController</string>
	</dict>
</array>
</plist>
